:root {
  --background-color: rgba(236, 174, 125, 0.2);
  --primary-color: #064c72;
  --secondary-color: #026c80;
  --tertiary-color: #8db4ad;
  --border-color-one: rgba(232, 48, 25, 0.65);
  --last-color: #ed6335;
  --footer-color: rgba(0, 0, 0, 0.2);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

body {
  max-width: 1500px;
  background: var(--background-color);
  mix-blend-mode: normal;
  margin: 60px auto;
  padding: 30px;
  text-align: center;
  font-display: optional;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 66px;
}

h2,
h3 {
  font-family: "Merriweather", serif;
  line-height: 1.5;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.container {
  padding: 50px;
}

.my-navbar {
  color: rgba(236, 174, 125, 0.4);
}

.main-name {
  color: linear-gradient(90deg, rgb(2, 105, 124) 0%, rgb(224, 47, 24) 100%);
}

.header-info {
  margin-top: 15px;
}

.icons {
  padding: 15px;
  margin-top: 200px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.header-info {
  text-align: center;
}

.main-me {
  position: absolute;
  width: 435px;
  height: 450px;
  left: 658px;
  top: 140px;
}

.under {
  padding: 45%;
  border: #8db4ad;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  position: absolute;
  top: 30px;
  margin-top: 80px;
  right: 90px;
  padding: 250px;
  width: 435px;
  height: 450px;
  max-width: 250px;
}

.float-left {
  float: left !important;
}

.double-border {
  position: relative;
  border: 3px solid var(--secondary-color);
  border-radius: 18px;
}

.double-border:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 10px;
  border: 3px solid var(--primary-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.row {
    padding: 30px;
}

@media (max-width: 767px) {
  body {
    text-align: center;
    margin-bottom: 50px;
  }

  footer {
    padding: 20px;
  }

  .paragraph-info {
    padding: 20px;
  }

  .picture {
    display: none;
  }

  .about-page-header {
    font-size: 85px;
  }

  .contact-header {
    font-size: 34px;
  }
}

@media (max-width: 360px) {
  .mini-heading {
    font-size: 75px !important;
  }

  .contact {
    font-size: 24px;
  }
}
