:root {
  --background-color: rgba(236, 174, 125, 0.2);
  --primary-color: #064c72;
  --secondary-color: #026c80;
  --tertiary-color: #8db4ad;
  --border-color-one: rgba(232, 48, 25, 0.65);
  --last-color: #ed6335;
  --footer-color: rgba(0, 0, 0, 0.2);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

body {
  max-width: 1200px;
  background: white;
  mix-blend-mode: normal;
  margin: 60px auto;
  padding: 10px;
  text-align: center;
  font-display: optional;
}

h1 {
  font-family: "Lexend Mega", sans-serif;
  font-size: 66px;
  color: var(--secondary-color);
}

h2,
h3 {
  font-family: "Merriweather", serif;
  line-height: 1;
  padding: 5px !important;
}

footer {
  text-align: center;
}

.container {
  padding: 50px;
}

.main-name {
  color: var(--secondary-color);
}

.header-info {
  margin-top: 15px;
}

.icons {
  padding: 15px;
  margin-top: 200px;
  text-decoration: none;
  color: var(--primary-color);
}

.header-info {
  text-align: center;
}

.main-me {
  position: absolute;
  width: 445px;
  height: 450px;
  left: 658px;
  top: 140px;
  box-shadow: 60px -56px #8db4ad;
}

.double-border {
  position: relative;
  border: 3px solid #bdbdbd;
  border-radius: 18px;
}

.double-border:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: -15px;
  right: -15px;
  bottom: 5px;
  border-radius: 10px;
  border: 3px solid #121212;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-header {
  color: var(--secondary-color);
  font-family: "Lexend Mega", sans-serif;
  font-size: 46px;
}

.contact-link {
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.email-link {
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  font-size: 40px;
  font-family: "Merriweather", serif;
  border: #026c80;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  padding: 15px 35px 15px 35px;
  text-decoration: none;
  color: white;
}

.row {
  padding: 5px;
}

.picture {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.picture:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.text-title {
  line-height: 1.5;
  padding: 15px !important;
  font-size: 25px;
  font-family: "Merriweather", serif;
}

.portfolio-info {
  padding: 15px;
}

.primary-link {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 5px;
  padding: 20px 15px;
  text-decoration: none;
}

.resume-title {
  font-size: 25px;
  font-family: "Merriweather", serif;
  color: var(--secondary-color);
}

.resume-info {
  font-size: 17px;
  font-family: "Merriweather", serif;
}

.my-resume {
  font-style: italic;
  font-size: 20px;
}

.p-info {
  font-family: "Merriweather", serif;
  text-align: unset;
  font-size: 16px;
}

@media (max-width: 415px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  body {
    text-align: center;
    padding: 10pxx;
  }

  h2 {
    font-size: 44px;
  }

  .container {
    padding: 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }

  .p-info {
    font-size: 12px;
  }

  .aboutHeader {
    font-size: 30px;
  }

  .email-link {
    padding: 20px 5px 20px 5px;
    font-size: 20px;
  }

  .navigation-links {
    padding: 5px;
    margin: auto;
    margin-top: 10px;
  }
}
